@bg: #000;
@fg: #ddd;
@header_fg: #fff;

@nav_fg: #fff;
@nav_hover: #333;

@active: #9c3 - #080808;
@active_hover: #fff;

@header_font: Coda, Helvetica Neue, Helvetica, sans-serif;
@body_font: Lato, Helvetica Neue, Helvetica, sans-serif;