@import url(http://fonts.googleapis.com/css?family=Coda:400,800);
@import url(http://fonts.googleapis.com/css?family=Lato);

@import "_variables.less";

html, body {
    height: 100%;
}

body {
    font-family: @body_font;
    font-size: 150%;
    background-color: @bg;
    color: @fg;
    background-image: url('../img/cover-1.jpg');
    background-size: cover;
    background-position: center center;
    background-color: #000;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

a, button, input[type=button], input[type=submit] {
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s, transform 0.5s;
}
    a:active {
        outline: none !important;
    }

.navbar {
    background-image: url('../img/top.png');
    border: none;
    font-family: @header_font;
    
    a {
        color: @nav_fg;
    }
    a:hover {
        color: @nav_hover;
    }
    .navbar-brand:hover {
        background-color: @nav_fg;
    }
    .nav > li > a:hover {
        background-color: @nav_fg;
    }
    
    .active > a {
        background-color: @active;
    }
    
    .navbar-toggle {
        border-color: @fg - #999;
        
        .icon-bar {
            background-color: @fg;
        }
    }
    
    .navbar-nav {
        @media (max-width: 767px) {
            background-color: @bg;
        }
    }
}

#content {
    padding-top: 100px;
    
    h1 {
        font-size: 400%;
    }
}

h1, h2, h3, h4, h5 {
    font-family: @header_font;
    color: @header_fg;
}

.btn-std {
    background-color: @active;
    color: @nav_fg;
    padding: 0.8em 2em;
    font-family: @header_font;
    
    &:hover {
        background-color: @active_hover;
        color: #333;
        transform: scale(1.1, 1.1);
    }
}
.btn-with-icon {
    padding: 0.4em 1.5em 0.4em 1em;
    
    img {
        margin-right: 0.5em;
    }
    
    &:hover img {
        background-color: @active;
        border-radius: 5px;
    }
}

.btn-cta {
    .btn-std;
    font-size: 140%;
    box-shadow: 0 0 20px #000, 0 0 2px #000;
}

.btn-link {
    white-space: nowrap;
    background-color: #444;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
    
    &:hover {
        text-decoration: none;
        background-color: @active;
        color: #333;
    }
}

.distance {
    margin-top: 30px;
}

.tiles {
    margin-bottom: 20px;

    @media (max-width: 767px) {
        & {
            margin-bottom: 0;
        }
        & > div {
            margin-bottom: 20px;
            max-width: 500px;
        }
    }
    
    img {
        max-width: 100%;
    }
    
    .caption {
        background-color: rgba(33,33,33,0.6);
        white-space: nowrap;
        margin-top: 2px;
        
        a {
            padding: 5px;
            display: block;
            color: #ddd;
            font-size: 85%;
            text-decoration: none;
            
            &:hover {
                background-color: @active;
                color: #333;
            }
        }
        
        cite {
            display: block;
            opacity: 0.6;
            font-style: normal;
        }
    }
}

.work-types {
    float: right;
    
    abbr {
        display: inline-block;
        overflow: auto;
        padding: 0px 4px;
        margin: 3px 3px 0 0;
        font-size: 70%;
        opacity: 0.8;
        border-radius: 30%;
        box-shadow: 1px 1px 1px #000;
        color: #111;
        border: none;
        
        &:hover {
            opacity: 1;
        }
    }
    
    .be {
        background-color: #390;
    }
    .fe {
        background-color: #f36;
    }
}

img.fill {
    max-width: 100%;
}

.block {
    background-color: #222;
    padding: 20px;
    opacity: 0.95;
    
    & > p:last-child {
        margin-bottom: 0;
    }
}

.form-group {
    input[type=text], textarea {
        color: #333;
        background-color: #eee;
        border: 1px #000 solid;
        border-radius: 4px;
        padding: 4px 8px;
        transition: box-shadow 0.3s, border-color 0.3s;
        width: 100%;
        
        &:focus {
            border-color: @active;
            box-shadow: 0 0 4px @active;
        }
        
        &.invalid {
            border-color: red;
            background: linear-gradient(to bottom, #fdd 0%, #fff 20%);
            
            &:focus {
                box-shadow: 0 0 8px red;
            }
        }
    }
    
    label {
        color: #999;
        display: block;
    }
}

input.hp {
    display: none;
}

ul {
    list-style-position: inside;
}

ul.display {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        display: inline-block;
        padding: 0;
        margin: 0 0 10px 0;
        
        @media (max-width: 400px) {
            display: block;
            
            a {
                display: block;
            }
        }
    }
    
    &.distance-right li {
        margin-right: 10px;
        
        @media (max-width: 400px) {
            margin-right: 0;
        }
    }
}

.latent {
    display: none;
}

.section {
    margin: 10px 0 20px 0;
    border-bottom: 1px #333 solid;
    
    &:last-child {
        border: none;
        margin-bottom: 0;
    }
}

.description {
    margin-top: 10px;
    font-size: 90%;
    color: @fg - #333;
}

#img-viewer-container {
    position: absolute;
    max-width: 100%;
    padding: 20px;
    background-color: #eee;
    border: 2px #999 solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    cursor: pointer;
    display: none;
    z-index: 999;
    
    &.squished {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}