@import url(http://fonts.googleapis.com/css?family=Coda:400,800);
@import url(http://fonts.googleapis.com/css?family=Lato);
html,
body {
  height: 100%;
}
body {
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
  font-size: 150%;
  background-color: #000000;
  color: #dddddd;
  background-image: url('../img/cover-1.jpg');
  background-size: cover;
  background-position: center center;
  background-color: #000;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
a,
button,
input[type=button],
input[type=submit] {
  transition: background-color 0.5s, color 0.5s, transform 0.5s;
  -webkit-transition: background-color 0.5s, color 0.5s, transform 0.5s;
}
a:active {
  outline: none !important;
}
.navbar {
  background-image: url('../img/top.png');
  border: none;
  font-family: Coda, Helvetica Neue, Helvetica, sans-serif;
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  color: #333333;
}
.navbar .navbar-brand:hover {
  background-color: #ffffff;
}
.navbar .nav > li > a:hover {
  background-color: #ffffff;
}
.navbar .active > a {
  background-color: #91c42b;
}
.navbar .navbar-toggle {
  border-color: #444444;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #dddddd;
}
@media (max-width: 767px) {
  .navbar .navbar-nav {
    background-color: #000000;
  }
}
#content {
  padding-top: 100px;
}
#content h1 {
  font-size: 400%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Coda, Helvetica Neue, Helvetica, sans-serif;
  color: #ffffff;
}
.btn-std {
  background-color: #91c42b;
  color: #ffffff;
  padding: 0.8em 2em;
  font-family: Coda, Helvetica Neue, Helvetica, sans-serif;
}
.btn-std:hover {
  background-color: #ffffff;
  color: #333;
  transform: scale(1.1, 1.1);
}
.btn-with-icon {
  padding: 0.4em 1.5em 0.4em 1em;
}
.btn-with-icon img {
  margin-right: 0.5em;
}
.btn-with-icon:hover img {
  background-color: #91c42b;
  border-radius: 5px;
}
.btn-cta {
  background-color: #91c42b;
  color: #ffffff;
  padding: 0.8em 2em;
  font-family: Coda, Helvetica Neue, Helvetica, sans-serif;
  font-size: 140%;
  box-shadow: 0 0 20px #000, 0 0 2px #000;
}
.btn-cta:hover {
  background-color: #ffffff;
  color: #333;
  transform: scale(1.1, 1.1);
}
.btn-link {
  white-space: nowrap;
  background-color: #444;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.btn-link:hover {
  text-decoration: none;
  background-color: #91c42b;
  color: #333;
}
.distance {
  margin-top: 30px;
}
.tiles {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .tiles {
    margin-bottom: 0;
  }
  .tiles > div {
    margin-bottom: 20px;
    max-width: 500px;
  }
}
.tiles img {
  max-width: 100%;
}
.tiles .caption {
  background-color: rgba(33, 33, 33, 0.6);
  white-space: nowrap;
  margin-top: 2px;
}
.tiles .caption a {
  padding: 5px;
  display: block;
  color: #ddd;
  font-size: 85%;
  text-decoration: none;
}
.tiles .caption a:hover {
  background-color: #91c42b;
  color: #333;
}
.tiles .caption cite {
  display: block;
  opacity: 0.6;
  font-style: normal;
}
.work-types {
  float: right;
}
.work-types abbr {
  display: inline-block;
  overflow: auto;
  padding: 0px 4px;
  margin: 3px 3px 0 0;
  font-size: 70%;
  opacity: 0.8;
  border-radius: 30%;
  box-shadow: 1px 1px 1px #000;
  color: #111;
  border: none;
}
.work-types abbr:hover {
  opacity: 1;
}
.work-types .be {
  background-color: #390;
}
.work-types .fe {
  background-color: #f36;
}
img.fill {
  max-width: 100%;
}
.block {
  background-color: #222;
  padding: 20px;
  opacity: 0.95;
}
.block > p:last-child {
  margin-bottom: 0;
}
.form-group input[type=text],
.form-group textarea {
  color: #333;
  background-color: #eee;
  border: 1px #000 solid;
  border-radius: 4px;
  padding: 4px 8px;
  transition: box-shadow 0.3s, border-color 0.3s;
  width: 100%;
}
.form-group input[type=text]:focus,
.form-group textarea:focus {
  border-color: #91c42b;
  box-shadow: 0 0 4px #91c42b;
}
.form-group input[type=text].invalid,
.form-group textarea.invalid {
  border-color: red;
  background: linear-gradient(to bottom, #ffdddd 0%, #ffffff 20%);
}
.form-group input[type=text].invalid:focus,
.form-group textarea.invalid:focus {
  box-shadow: 0 0 8px red;
}
.form-group label {
  color: #999;
  display: block;
}
input.hp {
  display: none;
}
ul {
  list-style-position: inside;
}
ul.display {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.display li {
  display: inline-block;
  padding: 0;
  margin: 0 0 10px 0;
}
@media (max-width: 400px) {
  ul.display li {
    display: block;
  }
  ul.display li a {
    display: block;
  }
}
ul.display.distance-right li {
  margin-right: 10px;
}
@media (max-width: 400px) {
  ul.display.distance-right li {
    margin-right: 0;
  }
}
.latent {
  display: none;
}
.section {
  margin: 10px 0 20px 0;
  border-bottom: 1px #333 solid;
}
.section:last-child {
  border: none;
  margin-bottom: 0;
}
.description {
  margin-top: 10px;
  font-size: 90%;
  color: #aaaaaa;
}
#img-viewer-container {
  position: absolute;
  max-width: 100%;
  padding: 20px;
  background-color: #eee;
  border: 2px #999 solid;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  cursor: pointer;
  display: none;
  z-index: 999;
}
#img-viewer-container.squished {
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
